@page "/development" 

<div class="row row-cols-2 row-cols-lg-5 g-3 mt-4">
	<div class="col">
		<NavPanel Title="Development" Icon="BootstrapIcon.FileCode">
			<NavCard Href="#" Title="TODO" />
		</NavPanel>
	</div>
</div>