<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <!--<add name="X-Frame-Options" value="sameorigin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
