@attribute [Route(Routes.Administration.Index)]

<div class="row row-cols-2 row-cols-lg-5 g-3 mt-4">
	<div class="col">
		<NavPanel Title="Finance" Icon="BootstrapIcon.CashStack">
			<NavCard Href="@Routes.UserAdministration.BankAccounts" Title="Bank accounts" />
			<NavCard Href="@Routes.UserAdministration.Currencies" Title="Currencies" />
			<NavCard Href="@Routes.UserAdministration.ExchangeRates" Title="Exchange rates" />
		</NavPanel>
	</div>
	<div class="col">
		<NavPanel Title="System" Icon="BootstrapIcon.Hammer">
			<NavCard OnClick="() => dataSeedsDrawerOpen = true" Title="Data Seeds" />
			<NavCard OnClick="HandleClearCache" Title="Clear Server Cache" />
			<NavCard OnClick="RemoveCultureFromLocalStorage" Title="Remove culture setting from localStorage" />
		</NavPanel>
	</div>
</div>

<HxDrawer HeaderText="Data Seed" IsOpen="dataSeedsDrawerOpen">
	<BodyTemplate>
		<Havit.GoranG3.Web.Client.Pages.Admin.Components.DataSeeds />
	</BodyTemplate>
</HxDrawer>