@attribute [Route(NavigationRoutes.Administration.Index)]

<AuthorizeView Roles="@nameof(RoleEntry.UserSettingsAdministrator)">
    <h5>User Settings</h5>
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-4">
        <div class="col">
            <NavPanel Title="Panel Title" Icon="BootstrapIcon.CashStack">
                <NavCard Href="#" Title="TODO" />
            </NavPanel>
        </div>
    </div>
</AuthorizeView>

<AuthorizeView Roles="@nameof(RoleEntry.SystemAdministrator)">
    <h5>System Administration</h5>
    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-4">
        <div class="col">
            <NavPanel Title="Local" Icon="BootstrapIcon.Laptop">
                <NavCard OnClick="HandleRemoveCultureFromLocalStorageClick" Title="Remove culture setting" />
            </NavPanel>
        </div>
        <div class="col">
            <NavPanel Title="Server" Icon="BootstrapIcon.HddNetwork">
                <NavCard OnClick="_dataSeedsComponent.ShowAsync" Title="Data Seeds" />
                <NavCard OnClick="HandleClearCacheClick" Title="Clear Server Cache" />
                <NavCard Href="/hangfire/recurring" Title="Hangfire" />
            </NavPanel>
        </div>
        <div class="col">
            <NavPanel Title="Diagnostics" Icon="BootstrapIcon.Hammer">
                <NavCard Href="@NavigationRoutes.Diagnostics.Info" Title="Info page" />
                <NavCard OnClick="() => throw new InvalidOperationException()" Title="Raise exception" />
            </NavPanel>
        </div>
    </div>

    <Havit.NewProjectTemplate.Web.Client.Pages.Admin.Components.DataSeeds @ref="_dataSeedsComponent" />
</AuthorizeView>
