@page "/admin"
<h1>Administration</h1>

<NavPanel Title="Development" Icon="BootstrapIcon.FileCode">
	<NavCard Href="/admin/auth-test" Title="Authorization test" Icon="BootstrapIcon.Lock" />
</NavPanel>