@page "/admin"
<h4>Administration</h4>

<div class="row row-cols-2 row-cols-lg-5 g-3 mt-4">
	<div class="col">
        <NavPanel Title="Finance" Icon="BootstrapIcon.CashStack">
            <NavCard Href="/admin/user/bank-accounts" Title="Bankovní účty" />
            <NavCard Href="/admin/user/currencies" Title="Měny" />
        </NavPanel>
	</div>
	<div class="col">
		<NavPanel Title="System" Icon="BootstrapIcon.Hammer">
			<NavCard OnClick="() => dataSeedsDrawerOpen = true" Title="Data Seeds" />
			<NavCard OnClick="HandleClearCache" Title="Clear Server Cache" />
			<NavCard OnClick="RemoveCultureFromLocalStorage" Title="Remove culture setting from localStorage" />
		</NavPanel>
	</div>
	<div class="col">
		<NavPanel Title="Development" Icon="BootstrapIcon.FileCode">
			<NavCard Href="/admin/auth-test" Title="Authorization test" />
		</NavPanel>
	</div>
</div>

<HxDrawer HeaderText="Data Seed" IsOpen="dataSeedsDrawerOpen">
	<BodyTemplate>
		<Havit.GoranG3.Web.Client.Pages.Admin.Components.DataSeeds />
	</BodyTemplate>
</HxDrawer>