<h1>@model.Name</h1>

<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />

	<div class="mb-3">
		<label class="form-label">Name</label>
		<HxInputText @bind-Value="model.Name" />
	</div>
	<div class="mb-3">
		<label class="form-label">Account Number</label>
		<HxInputText @bind-Value="model.AccountNumber" />
	</div>
	<div class="mb-3">
		<label class="form-label">Bank Name</label>
		<HxInputText @bind-Value="model.BankName" />
	</div>
	<div class="mb-3">
		<label class="form-label">IBAN</label>
		<HxInputText @bind-Value="model.Iban" />
	</div>
	<div class="mb-3">
		<label class="form-label">SWIFT BIC</label>
		<HxInputText @bind-Value="model.SwiftBic" />
	</div>

	<HxSubmit Skin="(model.Id == default) ? ButtonSkins.Insert : ButtonSkins.Save" />
</EditForm>