@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet snippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Developed by HAVIT, https://www.havit.cz" />
	<title>GoranG3</title>
    <base href="~/" />
	@Html.Raw(snippet.FullScript)
</head>
<body>
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
