<div>
	<a href="@Href" @onclick="OnClick" role="button" class="link">
		@Title
	</a>
</div>

@code
{
	[Parameter] public string Title { get; set; }
	[Parameter] public string Href { get; set; }
	[Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}