<a href="@Href">
	<div class="card mb-3">
		<div class="card-title">
			<HxIcon Icon="Icon" /> @Title
		</div>
	</div>
</a>

@code
{
	[Parameter] public string Title { get; set; }
	[Parameter] public string Href { get; set; }
	[Parameter] public IconBase Icon { get; set; }
}