<div class="card h-100">
	<div class="card-header d-flex align-items-center">
		<HxIcon Icon="Icon" CssClass="me-2" />@Title
	</div>
	<div class="card-body">@ChildContent</div>
</div>

@code
{
	[Parameter] public string Title { get; set; }
	[Parameter] public IconBase Icon { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }
}