<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<div class="mb-3">
		<label class="form-label">Seed profile</label>
		<HxSelect @bind-Value="model.SelectedSeedProfile" Items="seedProfiles" TValueType="string" TItemType="string" Nullable="false" NullText="-select profile-" />
	</div>
	<HxSubmit Skin="ButtonSkins.OK" Text="Run seed" Style="ButtonStyle.Primary" />
</EditForm>