@* <div class="d-flex flex-column flex-grow-1">
		<div>

		</div>
		<div class="mt-auto d-flex justify-content-between">
			<button type="submit" class="btn btn-light">Zrušit</button>
			<button type="submit" class="btn btn-primary">Pokračovat</button>
		</div>
	</div> *@

<HxWizard>
	<Steps>
		<HxWizardStep>
			<Content>
				<div class="h4">Invoice Header</div>
				<form>
					<div class="form-group">
						<label>Protistrana</label>
						<HxAutosuggest SuggestionsRequested="HandleSuggestionsRequested" />
					</div>
					<div class="form-group">
						<label>Popis</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Datum vystavení</label>
						<input type="date" class="form-control">
					</div>
					<div class="form-group">
						<label>Datum splatnosti</label>
						<input type="date" class="form-control">
					</div>
					<div class="form-group">
						<label>Datum účinosti</label>
						<input type="date" class="form-control">
					</div>
					<div class="form-group">
						<label>Tagy</label>
						<HxTagInput />
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check me out</label>
					</div>
				</form>
			</Content>
		</HxWizardStep>
		<HxWizardStep>
			<Content>
				<div class="h4">Invoice Rows</div>
			</Content>
		</HxWizardStep>
		<HxWizardStep>
			<Content>
				<div class="h4">Invoice Overview</div>
			</Content>
		</HxWizardStep>
	</Steps>
</HxWizard>