@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="login-display d-flex align-items-center w-100">
	<AuthorizeView>
		<Authorized>

			<div class="initials bg-primary bg-opacity-10 text-primary rounded-circle p-1">@NameToInitials(@context.User?.Identity?.Name)</div>
			<span class="login-display-nickname text-primary text-truncate mx-2">@context?.User?.Identity?.Name</span>
			<div class="ms-auto">
				<HxContextMenu>
					<CultureSelector />
					<HxContextMenuItem Text="Log out" OnClick="BeginSignOut" />
				</HxContextMenu>
			</div>

		</Authorized>
		<NotAuthorized>
			<span><a href="authentication/register">Register</a> or <a href="authentication/login">Log in</a></span>
		</NotAuthorized>
	</AuthorizeView>
</div>
