@using Microsoft.AspNetCore.Components.Authorization

<div class="login-display d-flex align-items-center w-100">
	<AuthorizeView>
		<Authorized>
			<HxDropdown>
				<HxDropdownToggleElement ElementName="div" CssClass="d-flex align-items-center" role="button">
					<div class="initials bg-primary bg-opacity-10 text-primary rounded-circle p-1">
						@NameToInitials(@context.User?.Identity?.Name)
					</div>
					@if (!ShowOnlyInitials)
					{
						<div class="login-display-nickname text-primary mx-2 text-truncate">
							@context?.User?.Identity?.Name
						</div>
					}
				</HxDropdownToggleElement>
				<HxDropdownMenu>
					<CultureSelector />
					<li>                        
                        <form action="authentication/logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="" />@* TODO Set ReturnUrl if you want to return to a specific/current page. *@
                            <button class="dropdown-item">Log out</button>
                        </form>
                    </li>
				</HxDropdownMenu>
			</HxDropdown>
		</Authorized>
		<NotAuthorized>
            <span><a href="authentication/login">Log in</a></span>
		</NotAuthorized>
	</AuthorizeView>
</div>
