@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>

        <div class="d-flex align-items-center ">
            <div class="me-3">
                <div class="p-2 rounded-circle bg-secondary">DC</div>
            </div>
            <div>
                <a href="authentication/profile">@context.User.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value</a>
            </div>
            <div class="ms-auto">
                <HxContextMenu>
                    @* TODO WTF *@
                     <HxContextMenuItem Text="Log out" OnClick="BeginSignOut" /> 
                    <CultureSelector />
                </HxContextMenu>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
