@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.BottomStart" />
<HxMessageBoxHost />

<div class="sidebar d-flex flex-column">
	<NavMenu />
</div>

<div class="main p-4">
	@Body
</div>