@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.BottomCenter" />
<HxMessageBoxHost />

<div class="d-md-flex min-vh-100">
	<Sidebar />
	<div class="main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>