@inherits LayoutComponentBase

<HxMessenger Position="HxToastContainerPosition.BottomStart" />
<HxMessageBoxHost />

<div class="container-xxl d-flex flex-wrap flex-md-nowrap">
	<Sidebar />
	<div class="doc-content main p-4 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>