@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.BottomCenter" />
<HxMessageBoxHost />

<div class="d-md-flex min-vh-100">
    <ErrorBoundary @ref="_errorBoundaryComponent">
        <ErrorContent Context="exception">
            <div class="main p-4 flex-grow-1">
                <Havit.NewProjectTemplate.Web.Client.Pages.Errors.GenericError Exception="exception" OnRecover="() => _errorBoundaryComponent?.Recover()" />
            </div>
        </ErrorContent>
        <ChildContent>
            <Sidebar />
            <div class="main p-4 flex-grow-1">
                @Body
            </div>
        </ChildContent>
    </ErrorBoundary>
</div>