.nav-item {
	font-size: 0.875rem;
    margin: 0 .875rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.active {
	background-color: rgba(255, 255, 255, 0.25);
	color: var(--primary);
}

a > div {
    padding: .875rem;
}

a:hover > div {
	background-color: var(--sidebar-link-hover);
	color: var(--primary);
    border-radius: 0.5rem;
}

a:hover span {
    color: var(--primary);
}

a > div > span {
	line-height: 18px;
	height: 18px;
    color: #212529;
}

::deep i {
    line-height: 1;
    font-size: 1rem;
}