.navbar-brand {
	font-size: 1.2rem;
}

.bi.bi-chevron-down {
	transition: transform 0.2s;
	transform-origin: center center;
	backface-visibility: hidden;
}

.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}
