<li class="nav-item">
    <a data-bs-toggle="collapse" data-bs-target="#@id" href="@Href" role="button" aria-expanded="false">
        <div class="px-4 py-3 d-flex">
            @if (Icon != null)
            {
                @Icon
            }
            <span class="text-body">@Text</span>
            @if (SubItems != null)
            {
                <HxIcon Icon="@BootstrapIcon.ChevronDown" CssClass="ms-auto" />
            }
        </div>
    </a>
    <div class="collapse" id="@id">
        <ul class="nav flex-column">
            @if (SubItems != null)
            {
                @SubItems
            }
        </ul>
    </div>
</li>

@code {
    [Parameter] public RenderFragment Icon { get; set; }
    [Parameter] public RenderFragment SubItems { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public string Href { get; set; }

    private string id = "hx" + Guid.NewGuid().ToString("N");
}